<<<<<<< HEAD
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



footer {
    margin-top: auto;
    background-color: #feab01;
    text-align: center;
    padding: 10px 0;
}

.rowss {
=======
footer {
    width: 100%;
    background-color: #feab01;
    flex-direction: row;
    justify-content: space-around;
    
}

.rowss{
>>>>>>> origin/main
    display: flex;
    align-items: center;
    justify-content: space-around;
}

<<<<<<< HEAD
.formInicio {
=======
.formInicio{
>>>>>>> origin/main
    height: 400px;
    width: 350px;
    background-color: #feab01;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

<<<<<<< HEAD
#formRegistrar {
=======
#formRegistrar{
>>>>>>> origin/main
    height: 600px;
    width: 350px;
    background-color: #feab01;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

<<<<<<< HEAD
.contenedor-carrito {
    display: flex;

    align-content: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 4%;

}

.resumen {

    width: 30%;
    padding: 5%;
    
}
=======
#categorias{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
}

.formularioProd{
    margin: 40px;
}

.termYcond{
    display: flex;
    flex-direction: column;
    padding: 3%;
    
}
>>>>>>> origin/main
