#main{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 10px;
    padding-top: 20px;
}

#filtro{
    display: flex;
    flex-direction: column;
    align-items:normal;
    height: 100%;
    width: 40%;
    padding: 1% 5% 1% 5%;
    background-color: gainsboro;
    margin-right: 30px;
}

#botones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#categorias{
    color: #000000;
}

#etiquetas{
    color: black;
}

#productos{
    display: flex;
    flex-direction: column;
    align-items: normal;
    height: 100%;
    width: 100%;
}

.Productoimg{
    display: flex;
    width: 250px;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.custom-btn{
    background-color: #000000;
    color: white;
    
}