{% extends 'tienda/inicio/base.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Terminos y condiciones{% endblock %}

{% block contenedor %}

    <h1>Términos y Condiciones</h1>
    <h3>1. Aceptación de los términos</h3>
    <p>Al acceder y realizar compras en Rocket Store, usted acepta estar sujeto a los siguientes términos y condiciones. Estos términos pueden ser actualizados ocasionalmente sin previo aviso, por lo tanto, le recomendamos revisarlos periódicamente.</p>

    <h3>2. Productos y Precios</h3>
    <h4>2.1 Rocket Store se esfuerza por mostrar la información más precisa posible sobre sus productos, incluidos precios y disponibilidad. Sin embargo, nos reservamos el derecho de corregir cualquier error o inexactitud en cualquier momento.</h4>
    <h4>2.2 Los precios están en la moneda local y están sujetos a cambios sin previo aviso.</h4>


    <h3>3. Pedidos</h3>
    <h4>3.1 Al realizar un pedido en Rocket Store, usted confirma que tiene al menos 18 años de edad o cuenta con el consentimiento de un padre o tutor.</h4>
    <h4>3.2 Nos reservamos el derecho de rechazar o cancelar cualquier pedido por cualquier motivo, incluyendo pero no limitado a problemas con el inventario o errores en la información del producto.</h4>

    <h3>4. Envíos</h3>
    <h4>4.1 Rocket Store se esfuerza por cumplir con los tiempos de entrega estimados, pero no se hace responsable por retrasos fuera de nuestro control, como problemas climáticos o de transporte.</h4>
    <h4>4.2 Los costos de envío se detallan durante el proceso de compra y pueden variar según la ubicación y el método de envío seleccionado.</h4>

    <h3>5. Devoluciones y Reembolsos</h3>
    <h4>5.1 Aceptamos devoluciones dentro de los 30 días posteriores a la recepción de su pedido, siempre que los productos estén en condiciones originales y no hayan sido usados.</h4>
    <h4>5.2 Los reembolsos se procesarán dentro de los 14 días hábiles después de recibir el producto devuelto.</h4>

    <h3>6. Privacidad</h3>
    <h4>6.1 Rocket Store respeta su privacidad y protege la información personal que usted nos proporciona. Consulte nuestra Política de Privacidad para obtener más detalles sobre cómo manejamos sus datos.</h4>

    <h3>7. Propiedad Intelectual</h3>
    <h4>7.1 Todo el contenido de Rocket Store, incluidos logotipos, imágenes, textos y diseño, están protegidos por derechos de autor y otros derechos de propiedad intelectual.</h4>
    <h4>7.2 Está prohibido el uso no autorizado de cualquier contenido de Rocket Store sin nuestro consentimiento previo por escrito.</h4>

    <h3>8. Ley Aplicable</h3>
    <h4>8.1 Estos términos y condiciones están regidos por las leyes vigentes en Colombia.</h4>

    <h3>9. Contacto</h3>
    <h4>9.1 Para cualquier pregunta sobre estos términos y condiciones, o para cualquier otra consulta, contáctenos a través de nuestro formulario en línea o por correo electrónico.</h4>

{% endblock %}
