{% extends 'tienda/inicio/base.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Terminos y condiciones{% endblock %}

{% block contenedor %}
    <div class="termYcond">
        <h1>Términos y Condiciones</h1>
        <h3>1. Objeto del Contrato </h3>
        <p> El presente documento establece los términos y condiciones bajo los cuales Rocket Store (en adelante "La Tienda") ofrece a los usuarios el acceso y uso de su plataforma digital, incluyendo el software y los servicios proporcionados a través de dicha plataforma. Al utilizar los servicios de La Tienda, usted acepta estar sujeto a estos términos y condiciones. </p>
        <br>
        <h3>2. Privacidad y Protección de Datos Personales</h3>
        <p>En Rocket Store, valoramos y respetamos su derecho a la privacidad, conforme a lo dispuesto en el Artículo 15 de la Constitución Política de Colombia. La información personal que nos proporcione se tratará según la Ley 1581 de 2012 (Ley de Protección de Datos Personales) y sus decretos reglamentarios. Sus datos se utilizarán solo para los fines específicos para los que se recolectaron, como mejorar su experiencia en nuestra plataforma, gestionar sus pedidos y ofrecerle promociones personalizadas.</p>
        <br>
        <h3>3. Igualdad y No Discriminación </h3>
        <p>Rocket Store garantiza que todos los usuarios tendrán acceso equitativo a los servicios ofrecidos, sin discriminación alguna por razones de sexo, raza, origen nacional o familiar, lengua, religión, opinión política o filosófica, conforme lo establece el Artículo 13 de la Constitución Política de Colombia. Nos comprometemos a proporcionar un entorno de uso inclusivo y accesible para todos.</p>
        <br>
        <h3>4. Libre Desarrollo de la Personalidad </h3>
        <p>Rocket Store reconoce el derecho de los usuarios al libre desarrollo de su personalidad, conforme al Artículo 16 de la Constitución Política de Colombia. A través de nuestra plataforma, los usuarios pueden expresar sus preferencias y personalizar su experiencia de compra de acuerdo con sus gustos e identidad.</p>
        <br>
        <h3>5. Derecho a la Información </h3>
        <p>De conformidad con el Artículo 20 de la Constitución Política de Colombia, Rocket Store asegura a sus usuarios el derecho a recibir información clara, veraz y oportuna sobre el manejo de sus datos personales, los términos y condiciones del servicio, y cualquier otro aspecto relevante para el uso de nuestra plataforma. La Tienda pone a disposición de los usuarios todas las políticas de privacidad y protección de datos para su revisión.</p>
        <br>
        <h3>6. Acceso a la Información </h3>
        <p>Rocket Store garantiza el derecho de los usuarios a acceder a la información personal que haya sido recolectada y almacenada por nosotros, conforme a lo dispuesto en el Artículo 74 de la Constitución Política de Colombia. Los usuarios pueden solicitar en cualquier momento la revisión, actualización o eliminación de sus datos personales, comunicándose con nuestro equipo de soporte.</p>
        <br>
        <h3>7. Protección al Consumidor </h3>
        <p>En cumplimiento con el Artículo 78 de la Constitución Política de Colombia, Rocket Store se compromete a proteger los derechos de los consumidores. Esto incluye asegurar que todos los productos y servicios ofrecidos cumplan con los estándares de calidad establecidos, proporcionando información completa y veraz sobre los mismos, y ofreciendo mecanismos de atención al cliente para resolver cualquier inconveniente que pueda surgir.</p>
        <br>
        <h3>8. Propiedad Intelectual y Patentes </h3>
        <p>Todo el contenido disponible en la plataforma de Rocket Store, incluyendo, pero no limitado a software, logotipos, imágenes, diseños, y funcionalidades, está protegido por las leyes de propiedad intelectual aplicables en Colombia, incluyendo la Decisión 486 de la Comunidad Andina y la Ley 1032 de 2006, que modifica la Ley 599 de 2000 (Código Penal) en lo relacionado con la protección de derechos de autor y patentes. 

            Rocket Store es titular de los derechos de propiedad intelectual e industrial sobre el software y demás contenidos disponibles en la plataforma, o cuenta con las licencias necesarias para su uso. Queda prohibida la reproducción, distribución, modificación, o cualquier otro uso de los contenidos sin el consentimiento expreso y por escrito de Rocket Store. 
            
            En caso de que algún usuario considere que sus derechos de propiedad intelectual han sido vulnerados por el contenido disponible en la plataforma, deberá comunicarlo a Rocket Store de manera inmediata, proporcionando la documentación que respalde su reclamación. Rocket Store tomará las medidas necesarias para investigar y, en su caso, rectificar la situación conforme a la normativa vigente.</p>
        <br>
        <h3>9. Derechos Colectivos </h3>
        <p>Rocket Store reconoce y se compromete a respetar y promover los siguientes derechos colectivos en sus operaciones: </p>
        <h5>9.1. Derecho al Medio Ambiente Sano </h5>
        <p>Rocket Store se compromete a implementar prácticas sostenibles que minimicen el impacto ambiental de nuestras operaciones, como el uso de materiales reciclables o biodegradables en los empaques y la promoción de la moda sostenible. </p>
        <h5>9.2. Derecho al Trabajo y Condiciones Dignas </h5>
        <p>Rocket Store garantiza condiciones de trabajo dignas para sus empleados, asegurando que se respeten los derechos laborales, se ofrezcan salarios justos, y se mantengan condiciones de trabajo seguras y justas en toda nuestra cadena de suministro. </p>
        <h5>9.3. Derecho a la Protección del Consumidor </h5>
        <p>Rocket Store se compromete a proteger los derechos de los consumidores, asegurando que todos los productos y servicios ofrecidos cumplan con los estándares de calidad y que los consumidores estén protegidos contra prácticas comerciales abusivas. </p>
        <h5>9.4. Derecho a la Diversidad Cultural </h5>
        <p>Rocket Store respeta y promueve la diversidad cultural, ofreciendo productos que valoran la diversidad y apoyando a diseñadores y artesanos locales. </p>
        <h5>9.5. Derecho a la Seguridad y Salud Pública </h5>
        <p>Rocket Store se compromete a cumplir con todas las normativas de seguridad y salud pública, asegurando que nuestras operaciones no pongan en riesgo la salud y seguridad de nuestros clientes y comunidades. </p>
        <h5>9.6. Derecho a la Participación </h5>
        <p>Rocket Store ofrece mecanismos de participación para que los clientes y la comunidad puedan expresar sus opiniones y sugerencias sobre nuestras prácticas, promoviendo la mejora continua de nuestros servicios. </p>
        <h5>9.7. Derecho a la Información Pública </h5>
        <p>Rocket Store garantiza la transparencia en nuestras operaciones, divulgando información relevante sobre nuestras prácticas empresariales, impacto ambiental, y políticas de responsabilidad social. </p>
        
        <br>
        <h3>10. Modificaciones a los Términos y Condiciones </h3>
        <p>Rocket Store se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Cualquier cambio será debidamente notificado a los usuarios a través de la plataforma o por correo electrónico. El uso continuo de la plataforma después de la notificación de cambios implicará la aceptación de estos.</p>
        <br>
        <h3>11. Legislación Aplicable y Jurisdicción </h3>
        <p>Este contrato se regirá por las leyes de la República de Colombia. Cualquier controversia derivada del uso de la plataforma o de la interpretación de estos términos se someterá a la jurisdicción de los tribunales competentes de Colombia.</p>
        <br>
        <h3>12. Contacto </h3>
        <p>Para cualquier consulta, solicitud o queja relacionada con estos términos y condiciones, o con el uso de la plataforma, los usuarios pueden contactar a Rocket Store a través de los canales de atención al cliente disponibles en nuestra página web.</p>
        <br>
    </div>
{% endblock %}