{% extends 'tienda/inicio/base.html' %}
{% load static %}

{% block titulo %}Listar tallas{% endblock %}

{% block contenedor %}

<h1>Productos</h1>
<a class="btn btn-success" href="{% url 'productos_form' %}">Agregar</a>
<table class="table">
    <thead>
        <tr>
            TALLAS CREADAS
        </tr>
    </thead>
    <tbody>
        {% for t in talla %}
           <td>
            {{ t.talla }}
           </td>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
{% endblock %}