{% extends 'tienda/inicio/base.html' %}
{% load static %}

{% block titulo %}Actualizar Etiqueta{% endblock %}

{% block contenedor %}

<div style="display: flex; justify-content: center; align-items: center; height: 50vh;">

    <div style=" border: 2px solid; width: 100%; max-width: 700px; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">

        <h1 class="titul" style="text-align: center;">Actualizar Etiqueta ({{ data.nombre }})</h1>
        <form action="{% url 'etiquetas_actualizar' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ data.id }}">
            
            <label class="form-control" style="border: 2px solid; padding: 10px; border-radius: 4px;">Nombre</label>
            <input class="form-control" type="text" name="nombre" value="{{ data.nombre }}" /><br>

            <select class="form-control" name="categoriaEtiqueta">
                {% for i in categorias %}
                    <option value="{{ i.id }}" >{{ i.nombre }}</option>
                {% endfor %}
            </select>
            <br>

            <div style="text-align: center;">
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}