{% extends 'tienda/inicio/base.html' %}
{% load static %}

{% block titulo %}Actualizar Devolución{% endblock %}

{% block contenedor %}
    <h1>Editar Devolución</h1>
    <form action="{% url 'devoluciones_actualizar' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ data.id }}">
        
        <label class="form-control">Nombre</label>
        <input class="form-control" type="text" name="nombre" value="{{ data.nombre }}" required /><br>

        <label class="form-control">Correo electrónico</label>
        <input class="form-control" type="email" name="email" value="{{ data.email }}" required /><br>

        <label class="form-control">Teléfono</label>
        <input class="form-control" type="number" name="telefono" value="{{ data.telefono }}" required /><br>

        <label class="form-control">Motivo de devolución</label>
        <input class="form-control" type="text" name="descripcion" value="{{ data.descripcion }}" required /><br>

        <label class="form-control">Cargar Nueva Imagen (opcional)</label>
        <input type="file" name="image" class="form-control" /><br>

        <h3>Imagen Actual:</h3>
        {% if data.image %}
            <img src="{{ data.image.url }}" alt="Imagen actual" style="width: 100px; height: auto;" />
        {% else %}
            No hay imagen cargada.
        {% endif %}
        <br>

        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
{% endblock %}
