{% extends 'tienda/inicio/base.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Devoluciones{% endblock %}

{% block contenedor %}

<h1>Devoluciones</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>Teléfono de contacto</th>
            <th>Motivo de devolución</th>
            <th>Estado</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        {% for r in data %}
        <tr>
            <td>{{ r.id }}</td>
            <td>{{ r.nombre }}</td>
            <td>{{ r.email }}</td>
            <td>{{ r.telefono }}</td>
            <td>{{ r.descripcion }}</td>
            <td>
                <form method="post" action="{% url 'estado_devolucion' r.id %}">
                    {% csrf_token %}
                    <select name="estado" style="width: 100px;">
                        <option value="1" {% if r.estado == 1 %}selected{% endif %}>Pendiente</option>
                        <option value="2" {% if r.estado == 2 %}selected{% endif %}>Aceptada</option>
                        <option value="3" {% if r.estado == 3 %}selected{% endif %}>Rechazada</option>
                    </select>
                    <button type="submit" class="btn btn-success">Actualizar</button>
                </form>
            </td>
            
            <td>
                {% if r.image %}
                    <img src="{{ r.image.url }}" alt="Imagen de {{ r.nombre }}" style="width: 100px; height: auto;" />
                {% else %}
                    No hay imagen
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

{% endblock %}
